NESTED LOOP-FOR

In [89]:
for r in range(1,4):
    for c in range(1,4):
        print(c,end=' ')
    print()

1 2 3
1 2 3
1 2 3

In [90]:
for r in range(1,4):
    for c in range(1,4):
        print(r,end=' ')
    print()

1 1 1
2 2 2
3 3 3

In [91]:
for r in range(1,2):
    for c in range(1,4):
        print(c,end=' ')
    print()

for r in range(1,2):
    for c in range(4,7):
        print(c,end=' ')
    print()


for r in range(1,2):
    for c in range(7,10):
        print(c,end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [92]:
for r in range(1,2):
    for c in range(1,2):
        print(c,end=' 0 0')
    print()

for r in range(1,2):
    for c in range(0,1):
        print(c,end=' 1 0')
    print()


for r in range(1,2):
    for c in range(0,1):
        print(c,end=' 0 1')
    print()

1 0 0
0 1 0
0 0 1

In [93]:
for r in range(1,2):
    for c in range(1,8,3):
        print(c,end=' ')
    print()

for r in range(1,2):
    for c in range(2,9,3):
        print(c,end=' ')
    print()


for r in range(1,2):
    for c in range(3,10,3):
        print(c,end=' ')
    print()

1 4 7
2 5 8
3 6 9

FUNCTION CALLING

In [104]:
class student :
    def getdata(self,name,age):
        self.name=name
        self.__age=age
    def disp(self):
        print(f'name is {self.name}')
        print(f'age is {self.__age}')

In [105]:
s=student()
s.getdata('heena','344')
s.disp()

name is heena
age is 344

In [107]:
s.age

AttributeError: 'student' object has no attribute 'age'

In [97]:
class studentt :
    def getdata(self,name,rollno,mark1,mark2,mark3):
        self.name=name
        self.rollno=rollno
        self.mark1=mark1
        self.mark2=mark2
        self.mark3=mark3
    def disp(self):
        print(f'name is {self.name}')
        print(f'rollno is {self.rollno}')
        print(f'mark1 is {self.mark1}')
        print(f'mark2 is {self.mark2}')
        print(f'mark3 is {self.mark3}')

In [101]:
s=studentt()
s.getdata('nadu',7,50,70,67)
s.disp()

name is nadu
rollno is 7
mark1 is 50
mark2 is 70
mark3 is 67

In [109]:
class student :
    def getdata(self,name,rollno,mark1,mark2,mark3):
        self.name=name
        self.rollno=rollno
        self.mark1=mark1
        self.mark2=mark2
        self.mark3=mark3
    def disp(self):
        print('name is :',self.name)
        print('rollno is:',self.rollno)
        print('mark1 is :',self.mark1)
        print('mark2 is :',self.mark2)
        print('mark3 is :',self.mark3)

In [110]:
s=student()
s.getdata('nadu',7,70,78,89)
s.disp()

name is : nadu
rollno is: 7
mark1 is : 70
mark2 is : 78
mark3 is : 89