within argument and without return

In [1]:
def cir_area(r):
    a=3.14*r**2
    print('area of circle',a)

In [3]:
cir_area(3)

area of circle 28.26

within argument and within return

In [4]:
def cir_area(r):
    a=3.14*r**2
    return a

In [5]:
x=cir_area(7)
print('the answer is',x)

the answer is 153.86

without argument and without return

In [9]:
def cir_area(): 
    r=8
    a=3.14*r**2
    print('area of circle',a)

In [10]:
cir_area()

area of circle 200.96

without argument and within return

In [11]:
def cir_area(): 
    r=9.1
    a=3.14*r**2
    return a

In [12]:
y=cir_area()
print(y)

260.0234

function definition

In [13]:
def calculated_area():
    length=54
    width=87
    area=length*width
    print(area)

In [14]:
calculated_area()

calculated_area()

calculated_area()

4698
4698
4698

arguments and parameters

In [16]:
l=20
w=45
area_01=l*w
print(area_01)

l=28
w=34
area_02=l*w
print(area_02)


l=65
w=44
area_03=l*w
print(area_03)

900
952
2860

In [17]:
def calculated_area(length,width):
    area=length*width
    print(area)

In [18]:
calculated_area(55,33)


calculated_area(56,90)


calculated_area(5,5)


calculated_area(8,6)


calculated_area(22,54)

1815
5040
25
48
1188

return values

In [19]:
def calculated_area(length,width):
    area=length*width
    return area

In [21]:
area01=calculated_area(55,25)

area02=calculated_area(5,2)

area03=calculated_area(6,88)

total_area=area01+area02+area03
total_area

1913

default parameters

In [31]:
def add_movies(horror,comedy,action='confidentialassignment'):

    movies={
        'hor':horror,
        'com':comedy,
        'act':action
    }

    return movies

In [32]:
add_movies('ring','around the world in 80 days','marvel')

{'hor': 'ring', 'com': 'around the world in 80 days', 'act': 'marvel'}

In [13]:
def add_user(name,phonenumber,age=6):
    
    user={
        'firstname':name,
        'phonenumber':phonenumber,
        'age':age
    }

    return user

In [14]:
add_user('haama','9087653421',4)

{'firstname': 'haama', 'phonenumber': '9087653421', 'age': 4}

In [15]:
def add_user(name,phonenumber,emailid,age=6):
    
    user={
        'firstname':name,
        'phonenumber':phonenumber,
        'emailid':emailid,
        'age':age
    }

    return user

In [16]:
add_user('faan','8976054231','gmao@gmail.com',65)

{'firstname': 'faan',
 'phonenumber': '8976054231',
 'emailid': 'gmao@gmail.com',
 'age': 65}

In [17]:
add_user('faaljn','8974554231','go@gmail.com')

{'firstname': 'faaljn',
 'phonenumber': '8974554231',
 'emailid': 'go@gmail.com',
 'age': 6}

keyword arguments

In [22]:
def add_user(name,phonenumber,emailid,age=6,city='pondy'):
    
    user={
        'firstname':name,
        'phonenumber':phonenumber,
        'email':emailid,
        'age':age,
        'city':city
    }

    return user

In [24]:
add_user('kamsu','90874653312','mnedybqw@gmail.com',city='kuma')

{'firstname': 'kamsu',
 'phonenumber': '90874653312',
 'email': 'mnedybqw@gmail.com',
 'age': 6,
 'city': 'kuma'}

In [25]:
add_user('kamsumna','9054653312','gaoi@gmail.com',city='kttma',age=160)

{'firstname': 'kamsumna',
 'phonenumber': '9054653312',
 'email': 'gaoi@gmail.com',
 'age': 160,
 'city': 'kttma'}

arbitrary arguments

In [26]:
def order_food(*items):
    cart=[]



    for item in items :
        cart.append(item)


    return cart

In [27]:
lunch=order_food('heiys','hfhr','uyrs','oudj')

print(lunch)

['heiys', 'hfhr', 'uyrs', 'oudj']

In [28]:
def sum_all_numbers(*numbers):

    total=sum(numbers)
    return total

In [29]:
sum_all_numbers(1,4,6,8)

19

docstring

In [33]:
def calculated_area(length,height):
    """ 
    to calculate the area of rectangle:
    calculate_area(length ,height)
    """  
    rectangle_area=length*height

    return rectangle_area

In [34]:
help(calculated_area)

Help on function calculated_area in module __main__:

calculated_area(length, height)
    to calculate the area of rectangle:
    calculate_area(length ,height)

In [35]:
calculated_area.__doc__

' \n    to calculate the area of rectangle:\n    calculate_area(length ,height)\n    '